# opis prikljucaka
NET clk LOC = C9 | IOSTANDARD = LVCMOS33;
NET reset LOC = K17 | IOSTANDARD = LVCMOS33 | PULLDOWN;
NET ld7 LOC = F9 | IOSTANDARD = LVCMOS33 ;

NET rot_a LOC = K18 | IOSTANDARD = LVCMOS33 | PULLUP;
NET rot_b LOC = G18 | IOSTANDARD = LVCMOS33 | PULLUP;
NET ld6 LOC = E9 | IOSTANDARD = LVCMOS33 ;

NET ld1 LOC = F12 | IOSTANDARD = LVCMOS33 ;
NET ld2 LOC = E12 | IOSTANDARD = LVCMOS33 ;
NET ld3 LOC = E11 | IOSTANDARD = LVCMOS33 ;
NET ld4 LOC = F11 | IOSTANDARD = LVCMOS33 ;
NET nacin_rada LOC = V4 | IOSTANDARD = LVCMOS33 | PULLDOWN;

NET clk PERIOD = 20ns HIGH 40%;