//! **************************************************************************
// Written by: Map P.20131013 on Mon Jan 10 10:06:53 2022
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "C9" LEVEL 1;
COMP "nacin_rada" LOCATE = SITE "V4" LEVEL 1;
COMP "rot_a" LOCATE = SITE "K18" LEVEL 1;
COMP "rot_b" LOCATE = SITE "G18" LEVEL 1;
COMP "ld1" LOCATE = SITE "F12" LEVEL 1;
COMP "ld2" LOCATE = SITE "E12" LEVEL 1;
COMP "reset" LOCATE = SITE "K17" LEVEL 1;
COMP "ld3" LOCATE = SITE "E11" LEVEL 1;
COMP "ld4" LOCATE = SITE "F11" LEVEL 1;
COMP "ld6" LOCATE = SITE "E9" LEVEL 1;
COMP "ld7" LOCATE = SITE "F9" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "clk_BUFGP/IBUFG" PERIOD = 20 ns HIGH 40%;
SCHEMATIC END;

